survival/cache
survival/level/world/session.lock
survival/level/world/datapacks/bukkit
survival/libraries
survival/banned-ips.json
survival/banned-players.json
survival/commands.yml
survival/help.yml
survival/ops.json
survival/permissions.yml
survival/whitelist.json
survival/version_history.json
survival/level/usercache.json
survival/config/paper-global.yml
*.lock
*.dat
*.log
*.mca
*.dat_old
*.log.gz
*.jar
survival/plugins/spark/config.json
survival/plugins/bStats/config.yml
